<div class="background">
  <div class="container">
    <div class="playlists-wrapper">
      <div class="playlists-headers">
        <div>
          <h1>Toutes les playlists</h1>
        </div>
        <div class="link-playlists">
          <%= link_to "Créer une playlist", new_playlist_path %>
        </div>
      </div>
      <div class="pt-3 playlist-cards">
        <% @playlists.each do |playlist| %>
        <div class="playlist-card">
          <%= link_to playlist_path(playlist) do %>
          <div class="playlist-img">
            <h3><%= playlist.name %></h3>
          </div>
          <% end %>
          <div class="playlist-info">
            <div class="playlist-name">
              <%= playlist.name %>
            </div>
            <div class="playlist-genre">
              <%= playlist.genre %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
