<div class="form-wrapper">
  <div class="container">
    <div class="playlists-headers">
        <div>
          <h1>Créer une playlist</h1>
        </div>
        <div class="link-playlists">
          <%= link_to "Toutes les playlists", playlists_path %>
        </div>
      </div>
    <div class="row justify-content-center form-body">
        <%= simple_form_for(@playlist) do |f| %>
          <%= f.error_notification %>
          <% if f.object.errors[:base].present? %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence %>
          <% end %>
          <%= f.input :name, label: "Nom de la playlist" %>
          <%= f.input :genre, as: :select, collection: PlaylistsHelper::GENRES, prompt: 'Sélectionner le genre', label: "Genre musical" %>
          <%= f.input :danceability, collection: (1..100).to_a, prompt: "De 1 (pas du tout) à 100 (je veux danser jusqu'à épuisement)", label: "Niveau de rythme" %>
          <%= f.input :energy, collection: (1..100).to_a, prompt: "De 1 (dimanche soir dans mon canapé) à 100 (pile Duracell)", label: "Niveau d'énergie" %>
          <%= f.submit "Ajouter", class: "mt-2 btn btn-dark" %>
        <% end %>
    </div>
  </div>
</div>
