<div class="container">
  <h1><%= @playlist.name %></h1>

  <ul>
    <li> <%= link_to "Ecouter", "https://open.spotify.com/playlist/#{@playlist.spotify_id}", target: :_blank %></li>
    <li>Genre : <%= @playlist.genre %></li>
    <li>Niveau d'énergie : <%= @playlist.energy %></li>
    <li>Niveau de rythme : <%= @playlist.danceability %></li>
  </ul>

  <%= link_to "Toutes les playlists", playlists_path %>
</div>
